@import "variables";

@mixin gridCenter {
    display: grid;
    place-content: center;
}
@mixin gridColumns($columns) {
    display: grid;
    grid-template-columns: $columns;
    grid-auto-rows: auto;
}
@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceBetween($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}
@mixin flexEvenly($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-evenly;
    align-items: center;
}

@mixin bgImageContain($position) {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: $position;
}

@mixin pageContainer($background-color) {
    background-color: $background-color;
    padding: 1rem;
    min-height: 100vh;
}