$background-color--card: rgb(4, 4, 23);
$background-color--main: #232323;
$background-color--accent: rgb(21, 135, 123);

$main-color-light: #fff;
$main-color-dark: #393939;
$accent-color: #33e6b3;

$font-size-h1: 2rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.5rem;

// Fonts
$font-family-headings: "Fira Sans", sans-serif;
$font-family-paragraph: "Sanseta", sans-serif;
