$background-color--setup: #d4d6ec;
$background-color--main: #cdeef3;
$background-color--roundActive: #fdf4c3;
$background-color--roundFinished: #fdd1c3;

$main-color-light: #f4f4f4;
$main-color-dark: linear-gradient(red to blue);
$secondary-color: #a3e5dd;
$white-color: #fbfbfb;

$font-size-h1: 2rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.3rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1.1rem;
$font-size-paragraph: 1rem;

// Colors
$color-h1: #393939;
$color-h2: #434343;
$color-h3: #535353;
$color-paragraph: #393939;

// Fonts
$font-family-headings: "Quicksand", sans-serif;
$font-family-paragraph: "Quicksand", sans-serif;

// För andra stilegenskaper, om det behövs
$line-height-headings: 1.2;
$line-height-paragraph: 1.5;