@import 'mixins';
@import 'variables';

.MovieCard {
    background-color: $background-color--card;
    box-shadow: 2px 2px 2em rgba(0, 0, 0, .45);
    padding: 1em;
    &__image {
        width: 200px;
        aspect-ratio: 1;
        margin: auto;
        @include bgImageContain(center);
    }
    &__info {
        color: white;
        text-shadow: 0.1px 0.1px 2px rgba(0, 0, 0, .45);
        background-color: transparent;
        h2 {
            margin-block-start: 0;
            margin-block-end: 0;
            height: 85px;
            overflow: hidden;
        }
    }
    &__buttons {
        @include flexEvenly(row);
        color: $main-color-light;
        gap: 1em;
        padding-bottom: 1em;
    }
}
button {
    background-color: $background-color--accent;
    color: $main-color-light;
    border: none;
    border-radius: .5em;
    padding: 1em .5em;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}