@import 'mixins';

.MovieList {
    @include gridColumns(100%);
    gap: 1em;
    list-style: none;
    padding: 2em;
}
.loading {
    @include gridCenter;
}
.Selector {
    @include gridCenter;
    gap: 1em;

    &__select {
        background-color: $background-color--main;
        color: $accent-color;
        text-align: center;
        padding: .5em 1em;
    }
}
@media screen and (min-width: 50em) {
    .MovieList {
        max-width: 1200px;
        grid-template-columns: repeat(4, 1fr);
        padding: 4em;
    }
    .Selector {
        @include flexCenter(row);
    }
}