@import 'mixins';

.MovieList {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 1em;
    list-style: none;
    padding: 2em;
}
.loading {
    @include gridCenter;
}
.Selector {
    @include flexCenter(row);
    gap: 1em;

    &__select {
        padding: .5em 1em;
    }
}
@media screen and (min-width: 50em) {
    .MovieList {
        max-width: 1200px;
        grid-template-columns: repeat(4, 1fr);
        padding: 4em;
    }
}