@import 'mixins';
.watched {
    @include gridCenter;

    &__list {
    @include gridColumns(100%);
    gap: 1em;
    padding: 0;
    }
}

@media screen and (min-width: 50em) {
    .watched {
        &__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}